.service__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}
.buttonCerti {
    margin-top: 15px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.service__container > div {
    background: var(--color-bg-variant);
    padding: 2rem 2.5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.service__container > div:hover {
    background:transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.service__container > div h3 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem;
}
.service__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
.service__details {
    display: flex;
    gap: 1rem;
}

.service__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}
.para {
    margin-top:10px;
}
.ex__list {
    margin-left: 10px;
    margin-top:8px;
}

@media screen and (max-width: 1024px) {
    .service__container {
        grid-template-columns: 1fr;
    }
    .service__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .service__content{
        padding: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .service__container {
        gap: 1rem;
        padding-right: 30px;
    }
    .service__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}